<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

    <th:bloc th:replace="layout/view::view"></th:bloc>
</head>
<body>
    <div class="container">

        <div id = "post">
            <div class="mb-3" id="postTitle"></div>
            <div class="mb-3" id="postContent"></div>
        </div>
        <div id = "buttons">
            <button type="button" class="btn btn-outline-dark" onclick="clickEvent.clickBoardButton()">목록</button>
            <button type="button" class="btn btn-outline-secondary" onclick="clickEvent.clickUpdateButton()">수정</button>
            <button type="button" class="btn btn-outline-secondary" onclick="clickEvent.clickDeleteButton()">삭제</button>
        </div>

        <div>

        </div>

    </div>
</body>

<script th:inline="javascript">
    renderPost()
    
    function renderPost(){

        let url = "/api/board/" + /*[[${id}]]*/;
        
        $.ajax({
            url: url,
            method: "GET",
            contentType: "application/json"
        })
        .done(response => {

            renderText("postTitle", '<h1> ' + response["title"] + ' </h1>')
            renderText("postContent", '<h5> ' + response["content"] + ' </h5>')

        })
        .fail(error => {
            alert(error["responseJSON"]["message"])
        })
    }

    function renderText(target, text){
        document.getElementById(target).innerHTML = text
    }

    class clickEvent {

        static clickBoardButton(){
            location.href = '/board'
        }

        static clickUpdateButton(){
            location.href = '/board/update/' + /*[[${id}]]*/
        }

        static clickDeleteButton(){

            let url = "/api/board/" + /*[[${id}]]*/

            $.ajax({
                url: url,
                method: "DELETE"
            })
            .done(response => {
                location.href = "/board"
            })
            .fail(error => {
                alert(error["responseJSON"]["message"])
            })
        }
    }



</script>
</html>