<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread</title>

    <th:bloc th:replace="layout/view::view"></th:bloc>
</head>
<body>
    
    <div class="container">

        <h1>게시판</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
                <th scope="col">기타</th>
            </tr>
            </thead>
            <tbody id="thread">
            </tbody>
        </table>


        <div id = "buttons">
            <button type="button" class="btn btn-outline-dark" onclick="clickEvent.clickWriteButton()">글쓰기</button>
        </div>
    </div>
    
</body>

<script>
    loadThreadListBy("thread")

    function loadThreadListBy(target) {
        $.ajax({
            url: "/api/board",
            method: "GET",
            contentType: "application/json"
        })
        .done(response => {

            let postHtml = ''
            response.forEach(r => {
                postHtml += ' \
                    <tr onclick = "location.href=\'/board/ ' + r["id"] + '\'"> \
                        <th scope="row">' + r["id"] + '</th> \
                        <td>' + r["title"] + '</td> \
                        <td>' + r["content"] + '</td> \
                        <td></td> \
                    </tr> \
                '
            });

            document.getElementById(target).innerHTML = postHtml

        })
        .fail(error => {
            alert(error["responseJSON"]["message"])
        })
    }

    class clickEvent {

        static clickWriteButton(){
            location.href = '/board/write'
        }
    }
</script>

</html>